# spring.main.web-application-type=none

# NOTE: You must disable the banner and the console logging 
# to allow the STDIO transport to work !!!
spring.main.banner-mode=off
spring.ai.mcp.server.stdio=false

# Server settings
server.host=localhost
server.port=12121

# MCP server end point TLS settings
server.ssl.enabled=true
# server.ssl.client-auth=need
server.ssl.key-store-type=PKCS12
server.ssl.key-alias=<key-alias>
server.ssl.key-store=classpath:<file>.p12
server.ssl.key-store-password=<pwd>
server.ssl.trust-store=classpath:<file>.p12
server.ssl.trust-store-password=<pwd>
server.ssl.trust-store-type=PKCS

# Spring AI MCP settings
spring.ai.mcp.server.name=mcpki-server
spring.ai.mcp.server.version=0.6.0
spring.ai.mcp.server.enabled=true
spring.ai.mcp.server.transport=sse
spring.ai.mcp.server.type=SYNC
spring.ai.mcp.server.request-timeout=240

# Parameters ranges.
com.mcpki.server.dn.length.min=3
com.mcpki.server.dn.length.max=120
com.mcpki.server.serialnumber.hex.length=40
com.mcpki.server.email.length.min=6
com.mcpki.server.email.length.max=64
com.mcpki.server.name.length.min=2
com.mcpki.server.name.length.max=30
com.mcpki.server.password.strength.min=12
com.mcpki.server.password.strength.max=32
com.mcpki.server.pem.length.min=100
com.mcpki.server.pem.length.max=40000
# Printable ASCII without `
com.mcpki.server.password.allowedCharacters=0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ!\"#$%&\'()*+,-./:;<=>?@[\\]^_

# MCPKI tools.
com.mcpki.server.tools.ejbca.GetAvailableCas=true
com.mcpki.server.tools.ejbca.GetCaCertificate=true
com.mcpki.server.tools.ejbca.GetLatestCrl=true
com.mcpki.server.tools.ejbca.CreateCrl=true
com.mcpki.server.tools.ejbca.GetCountCertificates=true
com.mcpki.server.tools.ejbca.GetCertificateProfile=true
com.mcpki.server.tools.ejbca.GetCertificatesAboutToExpire=true
com.mcpki.server.tools.ejbca.GetCertificatesAboutToExpire.max.items=100
com.mcpki.server.tools.ejbca.EnrollCertificateWithCsr=true
com.mcpki.server.tools.ejbca.RevokeCertificate=true
com.mcpki.server.tools.pki.ParseCertificate=true

# EJBCA REST API settings
com.mcpki.server.tools.ejbca.rest.url=https://<host>:<port>/ejbca/ejbca-rest-api
com.mcpki.server.tools.ejbca.rest.keystore=<file>.p12
com.mcpki.server.tools.ejbca.rest.keystorepwd=<pwd>
com.mcpki.server.tools.ejbca.rest.truststore=<file>.p12
com.mcpki.server.tools.ejbca.rest.truststorepwd=<pwd>

# Logging
logging.file.name=./mcpki-server.log
logging.level.root=INFO
logging.level.com.mcpki=INFO
logging.file.name=./mcpki-server.log
